body {
  height: 100%;
  background: white; /* Set background color for body to justify transparency of Jumbotron */
}

.navbar {
  background-color: #193b76;
}

footer {
  background-color: #bfd7ed;
  padding: 5px 0;
}
.site-footer {
  background-color: #bfd7ed;
  padding: 20px 0;
}
a,
a:hover {
  color: inherit;
  text-decoration: none;
}

.jumbotron {
  padding: 10px 0;
  background: #5585af;
  background-image: url("../img/jumbo-3.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  margin-bottom: 1px;
  /*   background: #5585af;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.6) 0%,
      rgba(255, 255, 255, 0.6) 100%
    ),
    url("../img/logan-jumbo-2.png");

  background-attachment: static;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;*/
}

.carousel {
  background: solid #5637dd;
}
.carousel-item .img-fluid {
  width: 50%;
  margin: auto;
}
.carousel-item a {
  display: block;
  width: 100%;
}

.cardheight {
  height: 158px;
}
.calendly-inline-widget {
  border-radius: 5px 5px 0px 0px;
  overflow: hidden;
  margin: 20px 20px 0 20px;
}
